<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="jsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <pattern>
                    <pattern>
                        {"timestamp": "%d{dd-MM-yyyy HH:mm:ss.SSS}", "thread": "[%thread]", "correlationId": "%X{correlationId}", "level": "%level", "logger": "%logger{36}", "message": "%msg", "exception": "%throwable"}
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="jsonConsoleAppender" />
    </root>

    <logger name="br.com.clarobr" level="trace" additivity="false">
        <appender-ref ref="jsonConsoleAppender" />
    </logger>
</configuration>
