<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
								http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.0.xsd"
								default-lazy-init="true">
	
	<!-- Start ExemploService 
	<alias alias="SampleClienteService" name="SampleClienteEJB"/>
	
	<jee:remote-slsb id="SampleClienteEJB" 
		jndi-name="netcrmcore/cliente/ejb/SampleClienteEJB"
		business-interface="br.com.netservicos.netcrmcore.cliente.core.facade.SampleClienteService" 
		cache-home="true"
		lookup-home-on-startup="false" 
		resource-ref="false"
		refresh-home-on-connect-failure="true"/>
	End ExemploService -->

	<!-- Start ManutencaoDadosCadastraisService -->
	<alias alias="ManutencaoDadosCadastraisService" name="ManutencaoDadosCadastraisEJB"/>
	
	<jee:remote-slsb id="ManutencaoDadosCadastraisEJB" 
		jndi-name="netcrmcore/cliente/ejb/ManutencaoDadosCadastraisEJB"
		business-interface="br.com.netservicos.netcrmcore.cliente.contratovenda.facade.ManutencaoDadosCadastraisService"
		cache-home="true"
		lookup-home-on-startup="false" 
		resource-ref="false"
		refresh-home-on-connect-failure="true"/>
	<!-- End ManutencaoDadosCadastraisService -->
	
	<!-- Start ManutencaoDadosCobrancaService -->
	<alias alias="ManutencaoDadosCobrancaContratoService" name="ManutencaoDadosCobrancaContratoEJB"/>
	
	<jee:remote-slsb id="ManutencaoDadosCobrancaContratoEJB" 
		jndi-name="netcrmcore/cliente/ejb/ManutencaoDadosCobrancaContratoEJB"
		business-interface="br.com.netservicos.netcrmcore.cliente.cobranca.facade.ManutencaoDadosCobrancaContratoService" 
		cache-home="true"
		lookup-home-on-startup="false" 
		resource-ref="false"
		refresh-home-on-connect-failure="true"/>
	<!-- End ManutencaoDadosCobrancaService -->
	
	<!-- Start ManutencaoDadosCobrancaService -->
	<alias alias="ManutencaoDadosCobrancaPropostaService" name="ManutencaoDadosCobrancaPropostaEJB"/>
	
	<jee:remote-slsb id="ManutencaoDadosCobrancaPropostaEJB" 
		jndi-name="netcrmcore/cliente/ejb/ManutencaoDadosCobrancaPropostaEJB"
		business-interface="br.com.netservicos.netcrmcore.cliente.cobranca.facade.ManutencaoDadosCobrancaPropostaService" 
		cache-home="true"
		lookup-home-on-startup="false" 
		resource-ref="false"
		refresh-home-on-connect-failure="true"/>
	<!-- End ManutencaoDadosCobrancaService -->
	<!-- Start ManutencaoDadosContatoService -->
	<alias alias="ManutencaoDadosContatoService" name="ManutencaoDadosContatoEJB"/>
	
	<jee:remote-slsb id="ManutencaoDadosContatoEJB" 
		jndi-name="netcrmcore/cliente/ejb/ManutencaoDadosContatoEJB"
		business-interface="br.com.netservicos.netcrmcore.cliente.contratovenda.facade.ManutencaoDadosContatoService"
		cache-home="true"
		lookup-home-on-startup="false" 
		resource-ref="false"
		refresh-home-on-connect-failure="true"/>
	<!-- End ManutencaoDadosContatoService -->
	
	<!-- Start ConsultarContratosService -->
	<alias alias="ConsultarContratosService" name="ConsultarContratosEJB"/>
	
	<jee:remote-slsb id="ConsultarContratosEJB" 
		jndi-name="netcrmcore/cliente/ejb/ConsultarContratosEJB"
		business-interface="br.com.netservicos.netcrmcore.cliente.contrato.facade.ConsultarContratosService"
		cache-home="true"
		lookup-home-on-startup="false" 
		resource-ref="false"
		refresh-home-on-connect-failure="true"/>
	<!-- End ConsultarContratosService -->
	
	
	<!-- Start CreditoService -->
	<alias alias="CreditoService" name="CreditoEJB"/>
	
	<jee:remote-slsb id="CreditoEJB" 
		jndi-name="netcrmcore/cliente/ejb/CreditoEJB"
		business-interface="br.com.netservicos.netcrmcore.cliente.core.facade.CreditoService"
		cache-home="true"
		lookup-home-on-startup="false" 
		resource-ref="false"
		refresh-home-on-connect-failure="true"/>
	<!-- End CreditoService -->
	
</beans>