<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
								http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.0.xsd"
								default-lazy-init="true">
	
	<!-- Start ExemploService 
	<alias alias="SampleProdutoService" name="SampleProdutoEJB"/>
	
	<jee:remote-slsb id="SampleProdutoEJB" 
		jndi-name="netcrmcore/produto/ejb/SampleProdutoEJB"
		business-interface="br.com.netservicos.netcrmcore.produto.core.facade.SampleProdutoService" 
		cache-home="true"
		lookup-home-on-startup="false" 
		resource-ref="false"
		refresh-home-on-connect-failure="true"/>
	End ExemploService -->
	
	<!-- Start ProdutoService -->
	<alias alias="ProdutoService" name="ProdutoEJB"/>
	
	<jee:remote-slsb id="ProdutoEJB" 
		jndi-name="netcrmcore/produto/ejb/ProdutoEJB"
		business-interface="br.com.netservicos.netcrmcore.produto.core.facade.ProdutoService"
		cache-home="true"
		lookup-home-on-startup="false" 
		resource-ref="false"
		refresh-home-on-connect-failure="true"/>
	<!-- End ProdutoService -->
	
	<!-- Start AgregadoService -->
	<alias alias="AgregadoService" name="AgregadoEJB"/>
	
	<jee:remote-slsb id="AgregadoEJB" 
		jndi-name="netcrmcore/produto/ejb/AgregadoEJB"
		business-interface="br.com.netservicos.netcrmcore.produto.core.facade.AgregadoService"
		cache-home="true"
		lookup-home-on-startup="false" 
		resource-ref="false"
		refresh-home-on-connect-failure="true"/>
	<!-- End AgregadoService -->
	
</beans>