<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
								http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.0.xsd"
								default-lazy-init="true">
	
	<!-- Start ExemploService 
	<alias alias="SampleVendaService" name="SampleVendaEJB"/>
	
	<jee:remote-slsb id="SampleVendaEJB" 
		jndi-name="netcrmcore/venda/ejb/SampleVendaEJB"
		business-interface="br.com.netservicos.netcrmcore.venda.core.facade.SampleVendaService" 
		cache-home="true"
		lookup-home-on-startup="false" 
		resource-ref="false"
		refresh-home-on-connect-failure="true"/>
	End ExemploService -->
	
	<alias alias="PropostaService" name="PropostaEJB"/>
	<jee:remote-slsb id="PropostaEJB" 
		jndi-name="netcrmcore/venda/ejb/PropostaEJB"
		business-interface="br.com.netservicos.netcrmcore.venda.proposta.facade.PropostaService" 
		cache-home="true"
		lookup-home-on-startup="false" 
		resource-ref="false"
		refresh-home-on-connect-failure="true"/>		
		
	<alias alias="PropostaAssinanteService" name="PropostaAssinanteEJB"/>
	<jee:remote-slsb id="PropostaAssinanteEJB" 
		jndi-name="netcrmcore/venda/ejb/PropostaAssinanteEJB"
		business-interface="br.com.netservicos.netcrmcore.venda.assinante.facade.PropostaAssinanteService" 
		cache-home="true"
		lookup-home-on-startup="false" 
		resource-ref="false"
		refresh-home-on-connect-failure="true"/>		
			
	<alias alias="PendenciaService" name="PendenciaEJB"/>
	<jee:remote-slsb id="PendenciaEJB" 
		jndi-name="netcrmcore/venda/ejb/PendenciaEJB"
		business-interface="br.com.netservicos.netcrmcore.venda.proposta.pendencia.facade.PendenciaService" 
		cache-home="true"
		lookup-home-on-startup="false" 
		resource-ref="false"
		refresh-home-on-connect-failure="true"/>
		
	<alias alias="NumeroTelefoneNETfoneService" name="NumeroTelefoneNETfoneEJB"/>
	<jee:remote-slsb id="NumeroTelefoneNETfoneEJB" 
		jndi-name="netcrmcore/venda/ejb/NumeroTelefoneNETfoneEJB"
		business-interface="br.com.netservicos.netcrmcore.venda.telefone.facade.NumeroTelefoneNETfoneService" 
		cache-home="true"
		lookup-home-on-startup="false" 
		resource-ref="false"
		refresh-home-on-connect-failure="true"/>
	
	<alias alias="OperadoraTelefoniaService" name="OperadoraTelefoniaEJB"/>
	<jee:remote-slsb id="OperadoraTelefoniaEJB" 
		jndi-name="netcrmcore/venda/ejb/OperadoraTelefoniaEJB"
		business-interface="br.com.netservicos.netcrmcore.venda.telefone.facade.OperadoraTelefoniaService" 
		cache-home="true"
		lookup-home-on-startup="false" 
		resource-ref="false"
		refresh-home-on-connect-failure="true"/>
		
	<alias alias="ValidacaoPropostaService" name="ValidacaoPropostaEJB"/>
	<jee:remote-slsb id="ValidacaoPropostaEJB" 
		jndi-name="netcrmcore/venda/ejb/ValidacaoPropostaEJB"
		business-interface="br.com.netservicos.netcrmcore.venda.proposta.facade.ValidacaoPropostaService" 
		cache-home="true"
		lookup-home-on-startup="false" 
		resource-ref="false"
		refresh-home-on-connect-failure="true"/>
		
	
	<!-- Start GerarContratoService -->
	<alias alias="AgendamentoService" name="AgendamentoServiceEJB"/>
	
	<jee:remote-slsb id="AgendamentoServiceEJB" 
		jndi-name="netservicos/netcrmcore/venda/ejb/AgendamentoEJB"
		business-interface="br.com.netservicos.netcrmcore.venda.agendamento.facade.AgendamentoService"
		cache-home="true"
		lookup-home-on-startup="false" 
		resource-ref="false"
		refresh-home-on-connect-failure="true"/>
	<!-- End GerarContratoService -->
	
		<!-- Start GerarContratoService -->
	<alias alias="AgendaWorkAssureService" name="AgendaWorkAssureServiceEJB"/>
	
	<jee:remote-slsb id="AgendaWorkAssureServiceEJB" 
		jndi-name="netservicos/netcrmcore/venda/ejb/AgendaWorkAssureEJB"
		business-interface="br.com.netservicos.netcrmcore.venda.agendamento.facade.AgendaWorkAssureService"
		cache-home="true"
		lookup-home-on-startup="false" 
		resource-ref="false"
		refresh-home-on-connect-failure="true"/>
	<!-- End GerarContratoService -->
	
	<!-- Start ManutencaoExtensaoFoneService -->
	<alias alias="ManutencaoExtensaoFoneService" name="ManutencaoExtensaoFoneEJB"/>
	
	<jee:remote-slsb id="ManutencaoExtensaoFoneEJB" 
		jndi-name="netcrmcore/venda/ejb/ManutencaoExtensaoFoneEJB"
		business-interface="br.com.netservicos.netcrmcore.venda.extensaofone.facade.ManutencaoExtensaoFoneService"
		cache-home="true"
		lookup-home-on-startup="false" 
		resource-ref="false"
		refresh-home-on-connect-failure="true"/>
	<!-- End ManutencaoExtensaoFoneService -->
	
</beans>