<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
								http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.0.xsd"
								default-lazy-init="true">
	
	
	
	<!-- Start ProspectService -->
	<alias alias="ProspectService" name="ProspectEJB"/>
	
	<jee:remote-slsb id="ProspectEJB" 
		jndi-name="netcrmcore/prospect/ejb/ProspectEJB"
		business-interface="br.com.netservicos.netcrmcore.prospect.core.facade.ProspectService"
		cache-home="true"
		lookup-home-on-startup="false" 
		resource-ref="false"
		refresh-home-on-connect-failure="true"/>
	<!-- End ProspectService -->
			
			

	
	
	<!-- Start GerarContratoService -->
	<alias alias="GerarContratoService" name="GerarContratoEJB"/>
	
	<jee:remote-slsb id="GerarContratoEJB" 
		jndi-name="netcrmcore/prospect/ejb/GerarContratoEJB"
		business-interface="br.com.netservicos.netcrmcore.prospect.gerarcontrato.facade.GerarContratoService"
		cache-home="true"
		lookup-home-on-startup="false" 
		resource-ref="false"
		refresh-home-on-connect-failure="true"/>
	<!-- End GerarContratoService -->
</beans>