<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
								http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.0.xsd"
								default-lazy-init="true">
	
	<!-- Start ExemploService 
	<alias alias="SampleOMSService" name="SampleOMSEJB"/>
	
	<jee:remote-slsb id="SampleOMSEJB" 
		jndi-name="netcrmcore/oms/ejb/SampleOMSEJB"
		business-interface="br.com.netservicos.netcrmcore.oms.core.facade.SampleOMSService" 
		cache-home="true"
		lookup-home-on-startup="false" 
		resource-ref="false"
		refresh-home-on-connect-failure="true"/>
	End ExemploService -->
	
	<!-- Start ManifestacaoOmbudsmanService -->
	<alias alias="ManifestacaoOmbudsmanService" name="ManifestacaoOmbudsmanEJB"/>
	
	<jee:remote-slsb id="ManifestacaoOmbudsmanEJB" 
		jndi-name="netcrmcore/oms/ejb/ManifestacaoOmbudsmanEJB"
		business-interface="br.com.netservicos.netcrmcore.oms.manifestacao.facade.ManifestacaoOmbudsmanService"
		cache-home="true"
		lookup-home-on-startup="false" 
		resource-ref="false"
		refresh-home-on-connect-failure="true"/>
	<!-- End ManifestacaoOmbudsmanService -->
	
</beans>