<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <variable name="logback.log.level.var" value="${contract-prospect-service.logback.log.level:-info}" />
    <variable name="logback.root.log.level.var" value="${contract-prospect-service.logback.root.log.level:-info}" />

    <appender name="Console"
        class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
            	%d{yyyy-MM-dd HH:mm:ss.SSS,UTC} | correlationId:%X{correlationId} | %thread | [%-5level] %class{0} - %msg %n
            </Pattern>
        </layout>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <!-- LOG everything at INFO level -->
    <root level="${logback.root.log.level.var}">
        <appender-ref ref="Console" />
    </root>

    <!-- LOG "br.com.clarobr*" at TRACE level -->
    <logger name="br.com.clarobr" level="${logback.log.level.var}" additivity="false">
        <appender-ref ref="Console" />
    </logger>

</configuration>
